@model Sperientia___SGI.ViewModel.InventarioViewModel

@{
    ViewData["Title"] = "Detalles Libros";
    Layout = "_LayoutAdmin";
}


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card ">
                <div class="card-body ">
                    <h5 class="card-title text-center pb-0 fs-4">Detalles</h5>
                    <br />

                    <div class="m-4 d-flex  justify-content-center">
                        <form>

                            <div class="row mb-3">
                                <label for="nombre" class="col-md-5 col-lg-6 col-form-label">Nombre</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="nombre" class="col-form-label">
                                        @Model.Libro.Inventario.Nombre
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="autor" class="col-md-5 col-lg-6 col-form-label">Autor</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="autor" class="col-form-label">
                                        @Model.Libro.Autor
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="nombre" class="col-md-5 col-lg-6 col-form-label">Editorial</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="nombre" class="col-form-label">
                                        @Model.Libro.Editorial
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="categoria" class="col-md-5 col-lg-6 col-form-label">ISBN</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="categoria" class="col-form-label">
                                        @Model.Libro.Isbn
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="reseña" class="col-md-5 col-lg-6 col-form-label">Reseña</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="reseña" class="col-form-label">
                                        @Model.Libro.Reseña
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3 align-items-center">
                                <label class="col-md-5 col-lg-6 col-form-label">Es Digital</label>
                                <div class="col-md-7 col-lg-6 d-flex align-items-center gap-2">
                                    <input type="checkbox" class="form-check-input" disabled @(Model.Libro.EsDigital ? "checked" : "") />
                                    <label class="mb-0">
                                        @(Model.Libro.EsDigital ? "Sí" : "No")
                                    </label>
                                </div>
                            </div>

                            <br />
                            <div class="row mb-3">

                                <div class="d-inline-flex justify-content-center" role="group">
                                    <button type="button" class="btn btn-sm btn-warning me-2" onclick="location.href='@Url.Action("Index", "InventarioLibro")'">Volver</button>
                                    @* <button type="button" class="btn btn-sm btn-danger me-2" data-bs-toggle="modal" data-bs-target="#verticalycentered">Eliminar</button> *@
                                    <a class="btn btn-sm btn-success" asp-action="Modificar" asp-route-id="@Model.Libro.IdInventario">Modificar</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="verticalycentered" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered  modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-exclamation-triangle"></i> Eliminar</h5>
            </div>
            <div class="modal-body">
                <div class=" d-flex w-80 justify-content-center">
                    ¿Desea eliminar el registro?
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>