@model Sperientia___SGI.ViewModel.InventarioViewModel

@{
    ViewData["Title"] = "Detalles Inventario";
    Layout = "_LayoutAdmin";
}


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card ">
                <div class="card-body ">
                    <h5 class="card-title text-center pb-0 fs-4">Detalles</h5>
                    <br />

                    <div class="m-4 d-flex  justify-content-center">
                        <form>

                            <div class="row mb-3">
                                <label for="codigo" class="col-md-5 col-lg-6 col-form-label">Código Interno</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="codigo" class="col-form-label">
                                        @Model.Inventario.CodigoInterno
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="nombre" class="col-md-5 col-lg-6 col-form-label">Nombre</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="nombre" class="col-form-label">
                                        @Model.Inventario.Nombre
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="descripcion" class="col-md-5 col-lg-6 col-form-label">Descripción</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="descripcion" class="col-form-label">
                                        @Model.Inventario.Descripcion
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="categoria" class="col-md-5 col-lg-6 col-form-label">Categoria</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="categoria" class="col-form-label" id="categoria">
                                        @Model.Inventario.InventarioCategoria.Nombre
                                    </label>
                                </div>
                            </div>

                            <div id="inventarioLibro" class="d-none">
                                <div class="row mb-3">
                                    <label for="autor" class="col-md-5 col-lg-6 col-form-label">Autor</label>
                                    <div class="col-md-7 col-lg-6">
                                        <label for="autor" class="col-form-label">
                                            @Model.Libro?.Autor
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="nombre" class="col-md-5 col-lg-6 col-form-label">Editorial</label>
                                    <div class="col-md-7 col-lg-6">
                                        <label for="nombre" class="col-form-label">
                                            @Model.Libro?.Editorial
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="categoria" class="col-md-5 col-lg-6 col-form-label">ISBN</label>
                                    <div class="col-md-7 col-lg-6">
                                        <label for="categoria" class="col-form-label">
                                            @Model.Libro?.Isbn
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="reseña" class="col-md-5 col-lg-6 col-form-label">Reseña</label>
                                    <div class="col-md-7 col-lg-6">
                                        <label for="reseña" class="col-form-label">
                                            @Model.Libro?.Reseña
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-3 align-items-center">
                                    <label class="col-md-5 col-lg-6 col-form-label">Formato</label>
                                    <div class="col-md-7 col-lg-6">
                                        <label class="col-form-label">
                                            @((Model.Libro?.EsDigital ?? false) ? "Digital" : "Físico")
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div id="inventarioGeneral" class="d-none">
                                <div class="row mb-3">
                                    <label for="marca" class="col-md-5 col-lg-6 col-form-label">Marca</label>
                                    <div class="col-md-7 col-lg-6">
                                        <label for="modelo" class="col-form-label">
                                            @Model.General?.Marca
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="modelo" class="col-md-5 col-lg-6 col-form-label">Modelo</label>
                                    <div class="col-md-7 col-lg-6">
                                        <label for="modelo" class="col-form-label">
                                            @Model.General?.Modelo
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="NoSerie" class="col-md-5 col-lg-6 col-form-label">No. Serie</label>
                                    <div class="col-md-7 col-lg-6">
                                        <label for="noSerie" class="col-form-label">
                                            @Model.General?.NumeroSerie
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="condicion" class="col-md-5 col-lg-6 col-form-label">Condición</label>
                                    <div class="col-md-7 col-lg-6">
                                        <label for="condicion" class="col-form-label">
                                            @Model.General?.EstadoCondicion
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="fechaG" class="col-md-5 col-lg-6 col-form-label">Fecha de Garantía</label>
                                    <div class="col-md-7 col-lg-6">
                                        <label for="fechaG" class="col-form-label">
                                            @Model.General?.GarantiaFechaFin?.ToString("dd/MM/yyyy")
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="row mb-3">
                                <label for="prov" class="col-md-5 col-lg-6 col-form-label">Proveedor</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="prov" class="col-form-label">
                                        @Model.Inventario.Proveedor
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fechaC" class="col-md-5 col-lg-6 col-form-label">Fecha de compra</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="fechaC" class="col-form-label">
                                        @Model.Inventario.FechaCompra?.ToString("dd 'de' MMMM 'de' yyyy")
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="costo" class="col-md-5 col-lg-6 col-form-label">Costo</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="costo" class="col-form-label">
                                        $@Model.Inventario.Costo
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="foto" class="col-md-5 col-lg-6 col-form-label">Fotografia</label>
                                <div class="col-md-7 col-lg-6">
                                    <img src="@Model.Inventario.Foto" class="img-fluid rounded-start" style="width:25%;">
                                </div>
                            </div>

                            <br />
                            <div class="row mb-3">

                                <div class="d-inline-flex justify-content-center" role="group">
                                    <button type="button" class="btn btn-sm btn-warning me-2" onclick="location.href='@Url.Action("Index", "Inventario")'">Volver</button>
                                    @* <button type="button" class="btn btn-sm btn-danger me-2" data-bs-toggle="modal" data-bs-target="#verticalycentered">Eliminar</button> *@
                                    <a class="btn btn-sm btn-success" asp-action="Modificar" asp-route-id="@Model.Inventario.IdInventario">Modificar</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


@section Scripts {


    <script>
            document.addEventListener('DOMContentLoaded', function () {
            const categoria = document.getElementById('categoria');
            const divLibro = document.getElementById('inventarioLibro');
            const divGeneral = document.getElementById('inventarioGeneral');

            const valorCategoria = categoria.textContent.trim().toLowerCase();
            if (valorCategoria === 'libro') {
                divLibro.classList.remove('d-none');
                divGeneral.classList.add('d-none');
            } else {
                divLibro.classList.add('d-none');
                divGeneral.classList.remove('d-none');
            }
        });
    </script>
}