@model Sperientia___SGI.ViewModel.InventarioViewModel

@{
    ViewData["Title"] = "Detalles Inventario";
    Layout = "_LayoutAdmin";
}


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card ">
                <div class="card-body ">
                    <h5 class="card-title text-center pb-0 fs-4">Detalles</h5>
                    <br />

                    <div class="m-4 d-flex  justify-content-center">
                        <form>

                            <div class="row mb-3">
                                <label for="codigo" class="col-md-5 col-lg-6 col-form-label">Código Interno</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="codigo" class="col-form-label">
                                        @Model.Inventario.CodigoInterno
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="nombre" class="col-md-5 col-lg-6 col-form-label">Nombre</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="nombre" class="col-form-label">
                                        @Model.Inventario.Nombre
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="categoria" class="col-md-5 col-lg-6 col-form-label">Categoria</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="categoria" class="col-form-label">
                                        @Model.Inventario.InventarioCategoria.Nombre
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="descripcion" class="col-md-5 col-lg-6 col-form-label">Descripción</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="descripcion" class="col-form-label">
                                        @Model.Inventario.Descripcion
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="autor" class="col-md-5 col-lg-6 col-form-label">Autor</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="autor" class="col-form-label">
                                        @Model.Inventario.InventarioLibro.Autor
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="editorial" class="col-md-5 col-lg-6 col-form-label">Editorial</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="editorial" class="col-form-label">
                                        @Model.Inventario.InventarioLibro.Editorial
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="isbn" class="col-md-5 col-lg-6 col-form-label">ISBN</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="isbn" class="col-form-label">
                                        @Model.Inventario.InventarioLibro.Isbn
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="reseña" class="col-md-5 col-lg-6 col-form-label">Reseña</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="reseña" class="col-form-label">
                                        @Model.Inventario.InventarioLibro.Reseña
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="digital" class="col-md-5 col-lg-6 col-form-label">Formato</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="digital" class="col-form-label">
                                       @(Model.Inventario.InventarioLibro.EsDigital ? "Digital" : "Fisico")
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="prov" class="col-md-5 col-lg-6 col-form-label">Proveedor</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="prov" class="col-form-label">
                                        @Model.Inventario.Proveedor
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fechaC" class="col-md-5 col-lg-6 col-form-label">Fecha de compra</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="fechaC" class="col-form-label">
                                        @Model.Inventario.FechaCompra?.ToString("dd 'de' MMMM 'de' yyyy")
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="costo" class="col-md-5 col-lg-6 col-form-label">Costo</label>
                                <div class="col-md-7 col-lg-6">
                                    <label for="costo" class="col-form-label">
                                        $@Model.Inventario.Costo
                                    </label>
                                </div>
                            </div>

                            <div class="row mb-3"> 
                                <label for="foto" class="col-md-5 col-lg-6 col-form-label">Fotografia</label>
                                <div class="col-md-7 col-lg-6">
                                    <img src="@Model.Inventario.Foto" class="img-fluid rounded-start" style="width:25%;">
                                </div>
                            </div>

                            <br />
                            <div class="row mb-3">

                                <div class="d-inline-flex justify-content-center" role="group">
                                    <button type="button" class="btn btn-sm btn-warning me-2" onclick="location.href='@Url.Action("Index", "Inventario")'">Volver</button>
                                    @* <button type="button" class="btn btn-sm btn-danger me-2" data-bs-toggle="modal" data-bs-target="#verticalycentered">Eliminar</button> *@
                                    <a class="btn btn-sm btn-success" asp-action="Modificar" asp-route-id="@Model.Inventario.IdInventario">Modificar</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="verticalycentered" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered  modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-exclamation-triangle"></i> Eliminar</h5>
            </div>
            <div class="modal-body">
                <div class=" d-flex w-80 justify-content-center">
                    ¿Desea eliminar el registro?
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>